.aboutUsContainer {
  min-height: 672px;
  @apply flex-col py-[24px] lg:flex lg:flex-row lg:py-0;
  .featureContainer {
    .featureList {
      list-style: none;
      padding-left: 20px;
      li {
        position: relative;
        &::before {
          position: absolute;
          top: 20%;
          content: "";
          width: 8px;
          height: 8px;
          left: -20px;
          border-radius: 50%;
          box-shadow: 0 0 0 5px #e2eeff;
          @apply bg-blue-800;
        }
        @apply text-blue-950 leading-[18px] text-lg font-medium mt-4;
      }
    }
  }
}
