.heroContainer {
  height: 100vh;
  padding-top: 90px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}
