.sidebarSearchWrapper {
  width: 100%;
}

.sidebarSearchInput {
  @apply border-none;
  border-radius: 8px;
  height: 30px;
  &::placeholder {
    padding: 8px;
  }
  &:hover {
    @apply bg-grey-100;
  }
}
