.btnBase {
  border-radius: 14px;
  padding: 18px 44px;
  font-weight: 600;
  font-size: 12px;
  width: fit-content;
  outline: none;
  border: none;
  cursor: pointer;
}

.btnPrimary {
  @apply bg-blue-800;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  color: white;
  &:hover {
    @apply bg-transparent text-blue-800 border-blue-800 border-solid border-[1px];
  }
}

.btnOutlined {
  @apply bg-transparent text-blue-800 border-blue-800 border-solid border-[1px];
  &:hover {
    @apply bg-blue-800 text-white;
  }
}

.btnSecondary {
  @apply bg-white text-[#2B2B39] hover:bg-[#20202D] hover:text-white rounded-[12px] font-medium text-[16px];
}
